@keyframes slideDownFadeIN {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
  }
  /* FENETRE MODALE */ 
  
  /* Foncer l'arrière-plan de la fenêtre modale */
  .modal {
  left: 0;
  top: 0;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  position: fixed;
  display: flex;
     

    &:target {
    display: table;
    position: absolute;
    }

/* Le contenu de la modale */    
    &__dialog, &__content {
    margin: auto;
    position: relative;
    padding: 0;
    outline: 0;
    width: 80%;
    
    animation-name: slideDownFadeIN;
    animation-duration: 1s;
  }
  &__dialog {
    display: table-cell;
    vertical-align: middle;
    width: 80%;
    height: 50%;
    
  }
  
  /* la fenêtre modale  */
  &__content {
    display:flex;
    justify-content: space-between;
    background-color: #000000;
    align-items: center;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    
      &__left {
        width: 50%;
        
      }
      
      &__right{
        width: 100%;
        height: 100%;
        
      } 
    }
  }

  /* Bouton servant à fermer la fenêtre modale */
  .closebtn {
  text-decoration: none;
  //float: right;
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top:0; right:0;
  margin-right: 0.3em;
  }
  
  .closebtn:hover,
  .closebtn:focus {
    color: rgb(78, 78, 78);
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Textes */
  h3, p {
    color: white;
  }
  p {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    line-height: 1.5em;
    margin-right: 2em;
    font-family: 'Anton', 'sans-serif';
    font-size: 0.9em;
  }
  h3 {
    font-size : 2em;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
  }

  .indicator {
    // color: rgb(148, 148, 148);
    color:yellow;
  }

