.container_content_footer{
  margin: auto;
  padding-bottom: 20px;
  width: 95%;
}
.title_footer {
  margin: 3em 0 2em 1.5rem;
}
.text_footer {
  margin: 0 0 1.5em 1.5rem;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: sans-serif;
  
  &_italic {
    font-style: italic;
    font-size: 1rem;
  }
  &_source {
    font-size: 0.8rem;
  }
}
.link_footer {
  text-decoration: underline white;
  text-underline-offset: 0.3em;

  &:hover{
  text-decoration: underline blue;
  text-underline-offset: 0.3em;

  }
}
