.container__footer {
    display: flex;
    justify-content: center;
    position: static;
    bottom: 0;
    margin-top: auto;
}

.footer {
    background-color: #292929;
    color: rgb(202, 202, 202);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3em;
    border-radius: 20px 20px 0 0;
}

.menu__footer {
  display: flex;
  height: 100%;
  width: 80%;
  justify-content: space-around;
  align-items: center;

  &__item {
    // display: flex;
    &:hover {
      color: rgb(255, 255, 255);
      text-decoration: underline rgb(255, 255, 255);
      text-underline-offset: 0.5em;
    }

    &__selected {
      text-decoration: underline rgb(255, 255, 255);
      text-underline-offset: 0.5em;
      color:white;
      // border-bottom: solid 5px yellow;
      // border-radius: 5px;
    }
  }
}

@media screen and (orientation: portrait) {
.footer {
  font-size: 0.8rem;
}

}


